root = true
 
[*]
charset = utf-8

[*.cs]
indent_size = 4

### Code Style Rules
### .globalconfig
## Reference
## - https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/
## - https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options/

#### .NET Coding Conventions ####

# Organize usings
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace

#### C# Coding Conventions ####

# var preferences
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

# Modifier preferences
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion

### FxCop Analyzer
## Reference: https://github.com/dotnet/roslyn-analyzers/blob/main/docs/Analyzer%20Configuration.md

dotnet_code_quality.interprocedural_analysis_kind = ContextSensitive

# Mark members as static
dotnet_code_quality.CA1822.api_surface = private, internal

# Missing XML comment for publicly visible type or member 'Type_or_Member'
dotnet_diagnostic.CS1591.severity = silent

# Prefix local calls with this
dotnet_diagnostic.SA1101.severity = silent

# ElementsMustAppearInTheCorrectOrder
dotnet_diagnostic.SA1201.severity = none

# Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# File Must Have Header
dotnet_diagnostic.SA1633.severity = none
